
%centered{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%image {
  display: block;
  max-width: 100%;
}

%centered{
  text-align: center;
}

%srt {
  visibility: hidden;
 }

 %headline-primary {
 font-size: 30px;
 font-weight: $font-wt-bolder;
 line-height: (30px, 30px);
}


%headline-secondary {
 font-size: (18px);
 font-weight: $font-wt-thin;
 line-height: (24px, 16px);

}

%nav-menu-links {
  display: block;
  font-weight: $font-wt-bold;
  text-align: center;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 14px;

}

%btn {
	width: 100%;
	padding: 0.75em 0;
	font-family: $stack-lato;
	font-weight: $font-wt-bold;
	border: none;
	border-radius: 5px;
	color: $white;
	text-transform: uppercase;
	@include flex(flex, column) {
		align-items: center;
		margin-bottom: px(20px);
	}
}

%text-dec-none { text-decoration: none; }

%margin-auto { margin: 0 auto; }

%card-padding { padding: 0.9375em; }

%grid-styles {
	padding: 0.95em 0 0.95em px(15px);
	font-family: $stack-lato;
	border: none;
	border-radius: px(5px);
	color: $grey;
	font-weight: $font-wt-bold;
}
