
// Fonts
$font-url   : "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
$stack-lato : "Lato", sans-serif;

$font-wt-thin    : 100;
$font-wt-light   : 300;
$font-wt-regular : 400;
$font-wt-bold    : 700;
$font-wt-bolder  : 900;

$base-font-size : 16px;


// Descriptive Base Colors


$white    : #fff;
$black    : #0b0b0b;
$grey     : #797e83;

$apricot    :#E59061;
$emerald    :#50C878;
$java       :#28DCB8;
$flamingo   :#F4621A;
$roman      :#DA5652;
$studio     :#8451A9;
$magic-ment :#8FF0CB;
$matisse    :#146FA3;
$malibu     :#56DEF5;
$perfume    :#D3A2F6;
$apple      :#51BA4F;
$sunglo     :#DF6F6D;



// Grid

$grid-colors: (
$apricot    :#E59061;
$emerald    :#50C878;
$java       :#28DCB8;
$flamingo   :#F4621A;
$roman      :#DA5652;
$studio     :#8451A9;
$magic-ment :#8FF0CB;
$matisse    :#146FA3;
$malibu     :#56DEF5;
$perfume    :#D3A2F6;
$apple      :#51BA4F;
$sunglo     :#DF6F6D;
);


//Button colors

$btn-colors: (
	success : $emerald,
	error   : $roman,
	warning : $flamingo,
	info    : $studio,
	default : $malibu,
);


// Color Usage

$color-primary   : $java;
$color-secondary : $scooter;



// Palette

$color-palettes: (
	grey: (
		x-light  : lighten($grey, 35%),
	  light    : lighten($grey, 12%),
	  base     : $grey,
	 	x-dark   : darken($grey, 16%)
	),

// Text

$base__font-size : 16px;
$base__line      : 24px;

//Grid
$grid-column-width          : 65px;
$grid-gutter-width          : 20px;
$grid-column-count          : 12;
$max-width--grid-container  : 1000px;

// Media Queries

$break-s : 1px;
$break-m : 768px;
$break-l : 1100px;

// Path to Assets
$path--relative       : "../img";
